.container{
    margin: 50px 0 ;
}

.card{
    margin: 0 2% !important;
    background-color: #F3F4F6 !important;
}

.infected{
    border-bottom: 10px solid #93C5FD;    
}

.recovered{
    border-bottom: 10px solid #5EEAD4;
}

.deaths{
        border-bottom: 10px solid #FDA4AF;
}


@media (max-width: 770px) {
    .card {
        margin: 3% 0 !important; 
    }
}